/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


p {
    font-size: 16px!important;
}

a {
    font-size: 16px!important;
}

.portfolio-filter li.activeFilter a {
    color: white;
    background-color: #646E81!important;
}
